venv/
__pycache__/
*.pyc
.env
.ipynb_checkpoints/
.env
venv/
__pycache__/
*.pyc
.env
.streamlit/secrets.toml
__pycache__/
*.pyc
app_backup.py
auth_service_backup.py
auth_test.py
auth_test_backup.py
test_supabase.py
supabase_client.py